<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form>

Pitch GUID : <input type="text" name="guid"> <input type="submit" value="Get Video"


</form>

<video width="400" controls autoplay>
<source src={{video}} type="video/mp4">

</video>
