

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action='http://127.0.0.1:3000/video' method="get">

Pitch GUID : <input type="text" name="id"> <input type="submit" value="Get Video">


</form>
